<div class="product_list">

        <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="4" class="text-center bg-darkblue">Productos Activos</th>
            </tr>
        </thead>
        <thead class="table-primary">
            <tr>
            <th>Id</th>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th class="text-end">Precio</th>
            </tr>
        </thead>
        <tbody>          
             {{#each products}}
            {{!-- <li>{{code}} - {{title}} - ${{price}}</li> --}}
            <tr>
            <td>{{id}}</td>
            <td>{{code}}</td>
            <td>{{title}}</td>
            <td class="text-end">${{price}}</td>
            </tr>
            {{/each}}
        </tbody>
        </table>

</div>